
 *{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 

 }

body { 
    display: grid; 
    font-family: sans-serif; 
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    grid-template-columns: repeat(auto-fill,40px);
    grid-template-rows: repeat(auto-fill,40px);
    
}


#workspace{ 
    position: relative;
    display: flex; 
    font-family: sans-serif; 
    
    grid-column: 2/-1;
    grid-row: 1/-1;

}


#canvas{
    border: 0.5px solid black;
}


#text { 
        min-width: 450px; 
        padding: 10px; 
        height: 100vh; 
        resize: none;

}






#configure{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40px;
    height: fit-content;
    top: 0px;
    left: 0px;
    grid-column: 1/2;
    grid-row: 2/7;
    
    
    

}




button{
    width: 100%;
    height: 40px;
    border: none;
    color: black;
    font-size: 12px;
    cursor: pointer;
    outline: none;

}

#searchParams{
   
    position: absolute;
    height: 40px;
    display: flex;
    bottom: 1vh;
    left: 500px;

}




#search{
    
    width: 200px;
    border: 1px solid rgb(62, 62, 62);
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    outline: none;

}

#next, #prev{
    width: 40px;
    height: 40px;
    border: 1px solid rgb(62, 62, 62);
    border-radius: 4px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    background-color: white;

}

#b{ background-color: rgba(239, 83, 80, 0.36); }
#bp{ background-color: red; }
#i{ background-color: rgba(255, 162, 0, 0.23); }
#w{ background-color: rgba(5, 17, 243, 0.41); }
#o{ background-color: rgba(255, 170, 0, 0.38); }
#c{ background-color: rgba(255, 0, 200, 0.49); }